/* header css  */

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    background-color: aqua;
}

header {
    border-bottom: black solid 2px;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 45px;
}

header nav {
    font-size: 18px;
    padding-top: 10px;
    margin-right: 50px;
    float: right;
    font-family: sans-serif;
}

#clock {
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    padding: 10px;
    margin-top: 14px;
    right: 78px;
    top: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}

#questions {
    font-size: 23px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
}

.btns {
    margin-top: 20px;
}

div button {
    display: inline-block;
    text-align: center;
}

#intro {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    text-align: center;
    border-radius: 15px;
    width: 52%;
    height: 315px;
    font-family: sans-serif;
    box-shadow: 2px black;
    margin-left: 25em;
    padding: 30px;
}

#question-container {
    text-align: center;
    padding-bottom: 100px;
    font-size: 20px;
    height: 315px;
    font-family: sans-serif;
}

#questions {
    font-size: 23px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
}

.hide {
    display: none;
}

.strtbtn {
    margin-top: 50px;
    background-color: orange;
    padding: 37px;
    font-size: 28px;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px black;
}

.nxtbtn {
    background-color: orange;
    margin-top: 30px;
    font-size: 18px;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px black;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    margin-top: 8px;
    height: 40px;
    width: 60%;
    background-color: orange;
    position: relative;
    border: 2px solid;
}    

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: blue;
}
.btn.wrong {
    --hue: var(--hue-wrong);
    color: red;
}
    
.hslink {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 80px;
    margin-top: 30px;
}

.end-section {
    margin-left: 43em;
}

.btnGroup {
    margin-left: 31em;
}

#listScores {
    margin-left: 46em;
}

.container h2 { 
    margin-left: 31.5em;
}

.container h3 {
    margin-left: 40em;
}

#scores {
    margin-left: 37em;
}

#timer {
    margin-left: 47em;
}